In [50]:
from scipy import stats
import pandas as pd

###### Start of code #####

student_df = pd.read_csv('student_habits_performance.csv')

In [51]:
# Dataset makeup
print("Dataset")
print(student_df.head())
print("\nDataset information")
print(student_df.info())

# Descriptive statistics
print("\nDescriptive Statistics")
print(student_df.describe())

# Duplicates?
print("\nDuplicate rows:\n", student_df[student_df.duplicated()])

Dataset
  student_id  age  gender  study_hours_per_day  social_media_hours  \
0      S1000   23  Female                  0.0                 1.2
1      S1001   20  Female                  6.9                 2.8
2      S1002   21    Male                  1.4                 3.1
3      S1003   23  Female                  1.0                 3.9
4      S1004   19  Female                  5.0                 4.4

   netflix_hours part_time_job  attendance_percentage  sleep_hours  \
0            1.1            No                   85.0          8.0
1            2.3            No                   97.3          4.6
2            1.3            No                   94.8          8.0
3            1.0            No                   71.0          9.2
4            0.5            No                   90.9          4.9

  diet_quality  exercise_frequency parental_education_level internet_quality  \
0         Fair                   6                   Master          Average
1         Good                   6              High School          Average
2         Poor                   1              High School             Poor
3         Poor                   4                   Master             Good
4         Fair                   3                   Master             Good

   mental_health_rating extracurricular_participation  exam_score
0                     8                           Yes        56.2
1                     8                            No       100.0
2                     1                            No        34.3
3                     1                           Yes        26.8
4                     1                            No        66.4

Dataset information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   object
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       909 non-null    object
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 125.1+ KB
None

Descriptive Statistics
             age  study_hours_per_day  social_media_hours  netflix_hours  \
count  1000.0000           1000.00000         1000.000000    1000.000000
mean     20.4980              3.55010            2.505500       1.819700
std       2.3081              1.46889            1.172422       1.075118
min      17.0000              0.00000            0.000000       0.000000
25%      18.7500              2.60000            1.700000       1.000000
50%      20.0000              3.50000            2.500000       1.800000
75%      23.0000              4.50000            3.300000       2.525000
max      24.0000              8.30000            7.200000       5.400000

       attendance_percentage  sleep_hours  exercise_frequency  \
count            1000.000000  1000.000000         1000.000000
mean               84.131700     6.470100            3.042000
std                 9.399246     1.226377            2.025423
min                56.000000     3.200000            0.000000
25%                78.000000     5.600000            1.000000
50%                84.400000     6.500000            3.000000
75%                91.025000     7.300000            5.000000
max               100.000000    10.000000            6.000000

       mental_health_rating   exam_score
count           1000.000000  1000.000000
mean               5.438000    69.601500
std                2.847501    16.888564
min                1.000000    18.400000
25%                3.000000    58.475000
50%                5.000000    70.500000
75%                8.000000    81.325000
max               10.000000   100.000000

Duplicate rows:
 Empty DataFrame
Columns: [student_id, age, gender, study_hours_per_day, social_media_hours, netflix_hours, part_time_job, attendance_percentage, sleep_hours, diet_quality, exercise_frequency, parental_education_level, internet_quality, mental_health_rating, extracurricular_participation, exam_score]
Index: []

In [52]:
# Drop student_id 
student_df.drop(columns='student_id', inplace=True)

In [53]:
# Determine unique values in categorical columns
cat_columns = ['gender', 'part_time_job', 'diet_quality', 'parental_education_level', 
           'internet_quality', 'extracurricular_participation']

unique_values = {col: student_df[col].unique().tolist() for col in cat_columns}

for col, values in unique_values.items():
    print(f"Unique values in '{col}': {values}")

Unique values in 'gender': ['Female', 'Male', 'Other']
Unique values in 'part_time_job': ['No', 'Yes']
Unique values in 'diet_quality': ['Fair', 'Good', 'Poor']
Unique values in 'parental_education_level': ['Master', 'High School', 'Bachelor', nan]
Unique values in 'internet_quality': ['Average', 'Poor', 'Good']
Unique values in 'extracurricular_participation': ['Yes', 'No']

In [54]:
# Replace NaN with "No_Degree"
student_df['parental_education_level'] = student_df['parental_education_level'].fillna("No_Degree")

# Include dummy variables for columns containing binary values
dummy_df1 = pd.get_dummies(student_df['part_time_job'], prefix='part_time', drop_first=True, dtype=int)
dummy_df2 = pd.get_dummies(student_df['extracurricular_participation'], prefix='extra_part', drop_first=True, dtype=int)
student_df = pd.concat([student_df, dummy_df1, dummy_df2], axis=1)

# Create new columns corresponding to ordinal columns
mapping = {'Female': 0, 'Male': 1, 'Other': 2}
student_df['gender_num'] = student_df['gender'].map(mapping)

mapping = {'Poor': 0, 'Fair': 1, 'Good': 2}
student_df['diet_num'] = student_df['diet_quality'].map(mapping)

mapping = {'Poor': 0, 'Average': 1, 'Good': 2}
student_df['internet_num'] = student_df['internet_quality'].map(mapping)

mapping = {'No_Degree': 0, 'High School': 1, 'Bachelor': 2, 'Master': 3}
student_df['parent_ed_num'] = student_df['parental_education_level'].map(mapping)

In [55]:
# Check results
print("Dataset")
print(student_df.head())
print("\nDataset information")
print(student_df.info())

Dataset
   age  gender  study_hours_per_day  social_media_hours  netflix_hours  \
0   23  Female                  0.0                 1.2            1.1
1   20  Female                  6.9                 2.8            2.3
2   21    Male                  1.4                 3.1            1.3
3   23  Female                  1.0                 3.9            1.0
4   19  Female                  5.0                 4.4            0.5

  part_time_job  attendance_percentage  sleep_hours diet_quality  \
0            No                   85.0          8.0         Fair
1            No                   97.3          4.6         Good
2            No                   94.8          8.0         Poor
3            No                   71.0          9.2         Poor
4            No                   90.9          4.9         Fair

   exercise_frequency  ... internet_quality mental_health_rating  \
0                   6  ...          Average                    8
1                   6  ...          Average                    8
2                   1  ...             Poor                    1
3                   4  ...             Good                    1
4                   3  ...             Good                    1

   extracurricular_participation exam_score  part_time_Yes  extra_part_Yes  \
0                            Yes       56.2              0               1
1                             No      100.0              0               0
2                             No       34.3              0               0
3                            Yes       26.8              0               1
4                             No       66.4              0               0

   gender_num  diet_num  internet_num  parent_ed_num
0           0         1             1              3
1           0         2             1              1
2           1         0             0              1
3           0         0             2              3
4           0         1             2              3

[5 rows x 21 columns]

Dataset information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            1000 non-null   int64
 1   gender                         1000 non-null   object
 2   study_hours_per_day            1000 non-null   float64
 3   social_media_hours             1000 non-null   float64
 4   netflix_hours                  1000 non-null   float64
 5   part_time_job                  1000 non-null   object
 6   attendance_percentage          1000 non-null   float64
 7   sleep_hours                    1000 non-null   float64
 8   diet_quality                   1000 non-null   object
 9   exercise_frequency             1000 non-null   int64
 10  parental_education_level       1000 non-null   object
 11  internet_quality               1000 non-null   object
 12  mental_health_rating           1000 non-null   int64
 13  extracurricular_participation  1000 non-null   object
 14  exam_score                     1000 non-null   float64
 15  part_time_Yes                  1000 non-null   int64
 16  extra_part_Yes                 1000 non-null   int64
 17  gender_num                     1000 non-null   int64
 18  diet_num                       1000 non-null   int64
 19  internet_num                   1000 non-null   int64
 20  parent_ed_num                  1000 non-null   int64
dtypes: float64(6), int64(9), object(6)
memory usage: 164.2+ KB
None